.header {
  background-color: var(--color-background-secondary);
}

.headerContent {
  height: 64px;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: inline-block;
  line-height: 1;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.menuLabel {
  font-weight: 500;
}

.hamburgerIcon {
  font-size: 1.25rem;
  line-height: 1;
}