.accordionItem {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    background-color: var(--color-surface);
    transition: all 0.3s;
  }
  
  .accordionItem:hover {
    box-shadow: 0 11px 22px rgba(33,42,190,.12);
    transform:translate3d(0,-.25rem,0);
  }
  
  .accordionToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    width: 100%;
    font-size: var(--font-size-base);
    font-weight: 600;
    cursor: pointer;
    text-align: left;
    gap: var(--spacing-sm);
  }
  
  .icon {
    font-size: var(--font-size-lg);
    margin-left: var(--spacing-sm);
    line-height: 1;
  }
  
  .question {
    flex: 1;
  }
  
  .answer {
    margin-top: var(--spacing-sm);
    padding: 0 10px;
    font-size: var(--font-size-sm);
    line-height: 1.5;
    color: var(--color-text);
  }
  
  .open {
    box-shadow: 0 11px 22px rgba(33,42,190,.12);
    transform:translate3d(0,-.25rem,0);
  }
  